<ion-header>
  <app-explore-container pageTitle=""></app-explore-container>
</ion-header>

<ion-tabs style="padding-top: 50px;">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sports">
      <ion-icon aria-hidden="true" name="school"></ion-icon>
      <ion-label>Sports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staff">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Staff</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon aria-hidden="true" name="football"></ion-icon>
      <ion-label>Playfit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
