<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width: 900px)">

    <ion-menu contentId="main-content" >
      <ion-header>
        <ion-toolbar color="danger">
          <ion-icon slot="end" class="ion-padding" name="football" size="large"></ion-icon>
          <ion-title>Playfit Sports</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>

        <ion-list>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item lines="none" [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
